:root {
    --link-color: #0080ff;
    --button-text-stile: cursive;
    --bg-color:#ffffff;
    --block-color:#eeeeee85;
    --border-color:#000000;
    --text-color:#000000;
    --heading-color:#000000;
}
html[theme="light"]{
    --bg-color:#ffffff;
    --block-color:#eeeeee85;
    --border-color:#000000;
    --text-color:#000000;
    --heading-color:#000000;
}
html[theme="dark"]{
    --bg-color:#202020;
    --block-color:#38383885;
    --border-color:#f8f8f8;
    --text-color:#cecece;
    --heading-color:#cecece;
}

.progres {
    height: 30px;
    width: 400px;
    background-color:#808080;
    border-radius: 12px;
}

#bar {
    height: 100%;
    width: 0%;
    background-color: #7B68EE;
    border-radius: 12px 0 0 12px;
}

button {
    font-family: var(--button-text-stile);
    font-size: 16px;
    margin: 10px;
}
img {
        width: 50px;
        height: 50px;
    }
canvas {
    border: 1px solid var(--border-color);
}
#gameBoard {
    display: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}
h1, h2 {
    color: var(--heading-color);
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 16px;
    margin: 0;
    padding: 5px;

}
.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 10% 20% 55% 5%;
    gap: 10px;
}
.headd, .select_lvl, .game, .theme, .res, .Basement {
    border-radius: 12px;
    border: 1px solid var(--border-color);
}
.headd {
    background-color:var(--block-color);
    grid-column: 1 / -1;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
.select_lvl {
    display: flex;
    background-color: var(--block-color);
    text-align: center;
    grid-row: 2 / 4;
    flex-direction: column;
    padding: 5px;
}
.select_lvl ul {
    padding-inline-start:20px;
    margin: 0;
}

.game {
    background-color: var(--block-color);
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    padding: 20px;
}
.theme {
    text-align: center;
    background-color: var(--block-color);
    grid-column: 3 / 4;
    padding: 5px;
}
.controls {
    margin: 10px;
}
.res {
    text-align: center;
    background-color: var(--block-color);
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    padding: 5px;
}
.Basement {
    grid-row: 4 / 5;
    background-color: var(--block-color);
    grid-column: 1 / -1;
    padding: 10px;
    
}
@media (max-device-width:600px) {
    .container{
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 5% 10% 75% 10%;
    }
    .headd, .select_lvl, .game, .res {
        grid-column: 1 / -1;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    .headd {
        grid-row: 1 / 2;
    }
    .select_lvl {
        grid-row: 2 / 3;
    }
    .select_lvl ul {
        display: flex;
        flex-direction: row;
    }
    .select_lvl li{
    margin: auto;
}
    button {
        font-size: 1.5em;
    }
    .game {
        grid-row: 3 / 4;
    }
    .res {
        grid-row: 4 / 5;
    }
    .theme, .Basement {
        display: none;
    }
}